* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
}
body {
  width: 100%;
  height: 100%;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 500px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}
.slides {
  display: flex;
  width: 500%; /* 4 imagens */
  animation: slide 15s infinite;
}

.slides img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

@keyframes slide {
  0% {
    margin-left: 0%;
  }
  20% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  200% {
    margin-left: 0%;
  }
}

header {
  background-color: #d1007d;
  color: rgb(250, 189, 227);
  border-radius: 20px;
  padding: 15px;
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
}
nav ul li a {
  color: #f808d8a0;
}

nav ul {
  margin-left: 6rem;
  text-align: center;
  padding-right: 10rem;
  color: #d1007d;
  list-style: none;
  display: flex;
  gap: 0.3rem;
}
nav ul li {
  border-radius: 0.3rem;
  background-color: rgb(228, 98, 159);
  padding: 0.2rem;
  margin-right: 1rem;
  background-color: rgb(249, 215, 239);
  color: #d1007d;
}

h1 {
  text-align: center;
  color: #d1007d;
  font-size: 3rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  color: #333;
  max-width: 600px;
  margin: 10px auto 30px;
}

img {
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.assinatura {
  margin: 50px;
  background-color: #e67fce;
  font-style: italic;
  color: #706868;
  font-size: 1rem;
}
